# Virtual environment
venv/
ENV/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Pytest cache
.cache/

# IDEs
.vscode/
.idea/

# Other
*.sqlite3

__pycache__/
*.pyc

.env