Flask==2.2.5
Flask_PyMongo==2.3.0
elasticsearch==8.14.0
Pillow==11.0.0
pymupdf==1.24.13
Requests==2.32.3
python_docx==1.1.2
pandas==2.2.3
beautifulsoup4==4.12.3
spacy==3.7.6
torch==2.2.0+cu118 -f https://download.pytorch.org/whl/torch_stable.html
sentence_transformers==3.0.1\
langdetect=1.0.9
pyvi
waitress