beautifulsoup4==4.12.3
elasticsearch==8.14.0
fitz==0.0.1.dev2
Flask==2.2.5
Flask_PyMongo==2.3.0
pandas==2.2.3
Pillow==11.0.0
pymongo==4.10.1
pymupdf==1.24.13
python_docx==1.1.2
Requests==2.32.3
scikit_learn==1.5.2
sentence_transformers==3.0.1
spacy==3.7.6
spacy==3.7.5
torch==2.4.0
torch==2.2.0+cu118
urllib3==2.2.3
Werkzeug==2.2.3
