


/* header */

.fixed-top {
    position: fixed !important;
    top: 0; 
    width: 100%; 
    z-index: 3  ; 
    background-color: #fff !important;

}

.header-hcmute_link  img{
    margin-left: 12px;

    width: 140px;
    height: auto;
}


.container {
    min-height: 100vh; 
    position: relative; 
}

footer {
    bottom: 0;         /* Gắn footer vào đáy container */
    left: 0;           /* Gắn footer vào bên trái */
    right: 0;          /* Gắn footer vào bên phải */
    background-color: #393c43;
    padding: 10px;
    text-align: center;
}


footer .footer-hcmute_link{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

footer .footer-hcmute_link a{ 
    color: #fff;
    font-size: 24px;
    margin: 6px;
    margin-top: 12px;
}

div.text-center.p-3{
    color: #fff;

}


.header-user-info{
    display: flex;
}