


/* header */

.fixed-top {
    position: fixed !important;
    top: 0; 
    width: 100%; 
    z-index: 3  ; 
}
.bg-light{
    background-color: #fff !important;
}

.header-hcmute_link{
    margin-left: 12px;
}
.header-hcmute_link  img{
    width: 140px;
    height: auto;
}

.header-login a{
    color: #000;
    font-weight: 600;
    font-size: 32px;
}
.header-avatar .dropdown button img {
    width: 42px;  
    height: 42px;     
    border-radius: 50%;    
    border: 1px solid white; 
    object-fit: cover;
}

button.btn.btn-secondary.dropdown-toggle{
    background: none;   
    border: none;    
    color: inherit;       
    font: inherit;        
    cursor: pointer;
}

.dropdown-menu[data-bs-popper] {
    top: 88%;
    left: -100px;
    margin-top: var(--bs-dropdown-spacer);
}

nav.navbar.navbar-expand-lg{
    position: static;
}

footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #393c43;
}

footer .footer-hcmute_link{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

footer .footer-hcmute_link a{ 
    color: #fff;
    font-size: 24px;
    margin: 6px;
}

div.text-center.p-3{
    color: #fff;

}