body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
}
.table tbody tr {
  border-bottom: 1px solid #e0e0e0; /* Thay đổi #ccc thành mã màu bạn muốn */
}

.table tbody tr:last-child {
  border-bottom: none; /* Không có đường ngăn cách cho hàng cuối cùng */
}

.table thead th {
  border-bottom: 1px solid #e0e0e0; /* Đường viền màu xám dưới tiêu đề */
  border-top: 1px solid #e0e0e0;
  color: #1a1a1a;
  font-weight: bolder;
}

.table tbody tr:first-child td {
  border-top: 1px solid #e0e0e0; /* Đường viền màu xám trên hàng đầu tiên */
}

.school {
  padding-bottom: 8px;
}
.card-school {
  color: #35509a;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.table-responsive::-webkit-scrollbar {
  width: 8px; /* Đặt chiều rộng của thanh cuộn */
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #ccc9c9; /* Màu sắc của thanh cuộn */
  border-radius: 10px; /* Bo tròn các góc */
}

.table-responsive::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền cho track */
  border-radius: 10px; /* Bo tròn track */
}

.table-responsive {
  border-radius: 0.65rem; /* Bo tròn góc cho phần tử table-responsive */
  position: relative; /* Để hỗ trợ cho thuộc tính tuyệt đối của tiêu đề */
  overflow: hidden; /* Ngăn không cho nội dung tràn ra ngoài */
}

.table {
  display: block; /* Biến bảng thành block để cho phép cuộn */
  max-height: 400px; /* Chiều cao tối đa của bảng */
}

.table thead {
  position: sticky; /* Ghim tiêu đề */
  top: 0; /* Ghim ở đầu */
  background: white; /* Nền cho tiêu đề */
  z-index: 10; /* Đảm bảo tiêu đề luôn nằm trên nội dung */
}

.container {
  max-width: 1450px !important;
}
