{% extends 'base_teacher.html' %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/quick_submit.css') }}"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
/>
{% endblock %} {% block content %}
<div class="container">
  <div class="content">
    <h2 class="name-tab">Quick Submit</h2>
    <p class="info"><strong>About this page</strong></p>
    <p class="info">
      This is your assignment inbox. To view a paper, select the paper's title.
      To view a Similarity Report, select the paper's Similarity Report icon in
      the similarity column. A ghosted icon indicates that the Similarity Report
      has not yet been generated.
    </p>
  </div>
  <div class="containerClassList">
    <div class="row align-items-center school">
      <div class="col-md-6">
        <div class="mb-3">
          <h5 class="card-school" id="school_name"></h5>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3"
        >
          <div>
            <!-- Button to trigger modal -->
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#uploadModal"
              class="btn btn-primary"
            >
              <i class="bx bx-plus me-1"></i> Submit
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div
          class="table-responsive"
          style="max-height: 400px; overflow-y: auto"
        >
          <table
            class="table project-list-table table-nowrap align-middle table-borderless"
          >
            <thead>
              <tr>
                <th scope="col" style="max-width: 340px; min-width: 340px">
                  Author
                </th>
                <th
                  scope="col"
                  class="ps-4"
                  style="max-width: 160px; min-width: 160px"
                >
                  Submission ID
                </th>
                <th scope="col" style="max-width: 500px; min-width: 500px">
                  Title
                </th>
                <th scope="col" style="max-width: 140px; min-width: 140px">
                  Submit Day
                </th>
                <th
                  scope="col"
                  style="max-width: 120px; min-width: 120px; text-align: center"
                >
                  Similarity
                </th>
                <th
                  scope="col"
                  style="max-width: 130px; min-width: 130px; text-align: center"
                >
                  Action
                </th>
              </tr>
            </thead>

            <tbody id="file_table_body"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal structure for Upload -->
<div
  class="modal fade"
  id="uploadModal"
  tabindex="-1"
  aria-labelledby="uploadModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered custom-modal-width">
    <div class="modal-content dialog-upload-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload File</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Form inside the modal -->
        <form>
          <!-- Author field -->
          <div class="mb-3">
            <label for="authorName" class="form-label">Author</label>
            <input type="text" class="form-control" id="authorName" required />
          </div>

          <!-- Submission Title field -->
          <div class="mb-3">
            <label for="submissionTitle" class="form-label"
              >Submission Title</label
            >
            <input
              type="text"
              class="form-control"
              id="submissionTitle"
              required
            />
          </div>

          <!-- Combobox field -->
          <div class="mb-3">
            <label for="storageOption" class="form-label">Storage Option</label>
            <select class="form-select" id="storageOption" required>
              <option value="do_not_store">
                Do not store the submitted paper
              </option>
              <option value="standard_repository">
                Standard paper repository
              </option>
            </select>
          </div>

          <!-- Submission File field -->
          <div class="mb-3">
            <label for="submissionFile" class="form-label"
              >Submission File</label
            >
            <div class="d-flex align-items-center">
              <!-- Choose File button -->
              <input
                type="file"
                class="form-control-file d-none"
                id="submissionFile"
                onchange="updateFileName()"
              />
              <button
                type="button"
                class="btn btn-secondary"
                onclick="document.getElementById('submissionFile').click()"
              >
                Choose File
              </button>

              <!-- Display selected file name with a close button at the end -->
              <div class="position-relative ms-2" style="flex: 1">
                <input
                  type="text"
                  class="form-control pe-4"
                  id="fileName"
                  placeholder="No file chosen"
                  readonly
                />
                <!-- Close button, initially hidden -->
                <span
                  class="position-absolute end-0 top-50 translate-middle-y me-2 text-danger"
                  style="cursor: pointer; display: none"
                  id="removeFileBtn"
                  onclick="removeFile()"
                >
                  &times;
                </span>
              </div>
            </div>
          </div>

          <!-- Submit Day (Current Date) field -->
          <div class="mb-3">
            <label for="submitDay" class="form-label">Submit Day</label>
            <input
              type="text"
              class="form-control"
              id="submitDay"
              value=""
              readonly
            />
          </div>
        </form>
      </div>
      <div
        id="signupMessage"
        class="text mb-3"
        style="text-align: center"
      ></div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" id="submit_button" class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="delete-title" id="deleteModalLabel">Delete file?</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body delete-body">
        Are you sure you want to delete this file?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-mdb-dismiss="modal"
        >
          Cancel
        </button>
        <button type="button" id="submit_delete" class="btn btn-primary">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %}
<script src="{{ url_for('static', filename='js/quick_submit.js') }}"></script>

{% endblock %}
